.extension-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--filter-btn);
    border-radius: 1rem;
    margin-inline: 1rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--card-border-color);
}

.card-main{
    display: flex;
    gap: 1rem;
}
.card-logo{
    align-self: baseline;
    max-height: 3.8rem;
    aspect-ratio: 1;
}
.card-info{
}
.card-info > p{
    font-size: .9rem;
    color: var(--description-color);
}


.card-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn{
    font-family: 'Noto Sans';
    background-color: var(--filter-btn, var(--neutral-0));
    padding-block: .375rem;
    padding-inline: .75rem;
    border-radius: 10rem;
    border: var(--remove-btn-border);
    color: var(--text-color);
}

.active-toggle{
    display: flex;
}

.toggle-checkbox{
    display: none;
}

.toggle-label{
    position: relative;
    display: inline-block;
    width: 40px;
    aspect-ratio: 2/1;
    background-color: var(--toggle-label);
    border-radius: 1.25rem;
    transition: background-color .3s;
}
.toggle-label::after{
    content: '';
    position: absolute;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--neutral-0);
    top: 2px;
    left: 2px;
    transition: all 0.3s;
}

.toggle-checkbox:checked + .toggle-label{
    background-color: var(--clicked-filter-btn-bg);
}
.toggle-checkbox:checked + .toggle-label::after{
    left: 22px;
}
